.home-style{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  direction: rtl;
  // background-color: #eee;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  direction: rtl;
  text-align: center;
}