

@mixin table_cell{
  font-size: 1vw;
  border: 1px solid lightgray;
  padding: 5px;
  table-layout: fixed;
  overflow: hidden;
  height: 35px;
}

th{
  @include table_cell;
  background-color: steelblue;
  color: white;
}

td{
  @include table_cell;

  overflow:hidden;

}

.bookmark-box{
  @include table_cell;
  width: 20px;
}


table {
  width: 80%;
  border-collapse: collapse;
  table-layout:fixed;
}

tr{
  &:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.185);
  }
}

tr:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.185);
}


.table_body{
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_control{
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  align-items: center;
  align-content: center;

}

@mixin btn{
  outline: none;
  padding: 10px;
  border: none;
  background-color: steelblue;
  color: white;
  width: 70px;
  height: 35px;
  cursor: pointer;

  &:disabled{
    opacity: 0.5;
    cursor: no-drop;
  }
}

.next_btn{
  @include btn

}

.back_btn{
  @include btn

}

@media screen and (max-width:1000px) {
  td,
  th {
    font-size: 1.4vw;
  }
}

@media screen and (max-width:600px) {
  td,
  th {
    font-size: 1.8vw;

  }
  .date {
    min-width: 80px;
  }
}